.dashboard-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow; 
  }
  
  .dashboard-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .dashboard-header h3 {
    font-size: 4rem;  /* Adjust size as needed */
    color: blue;        /* Set a consistent color */
    font-weight: 600;   /* Same weight as other titles */
    text-align: center;
  }
  
  .dashboard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-center {
    margin-bottom: 30px;
    width: 350px;
  }
  
  .dashboard-bottom {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .dashboard-bottom > div {
    width: 300px;
  }
  
  .card {
    min-height: 300px;
  }
  .component-title {
    font-size: 1.25rem; /* Adjust for your preference */
    color: #333;         /* Set a consistent color */
    font-weight: 600;    /* Consistent font weight */
    text-align: center;  /* Optional, if you want titles centered */
  }
  