.dashboard-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dashboard-header {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .dashboard-header h3 {
    font-size: 1.5rem;
  }
  
  .dashboard-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-center {
    margin-bottom: 30px;
    width: 350px;
  }
  
  .dashboard-bottom {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .dashboard-bottom > div {
    width: 300px;
  }
  
  .card {
    min-height: 300px;
  }
  